@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Roboto", sans-serif;

body {
  padding: 0;
  margin: 0;
}

.header {
  height: 100vh;
  background: linear-gradient(180deg, #fff 0%, #f3f8f7 49.91%, #fff9f5 94.19%);
  position: relative;

  .icon-Title-Wrap {
    position: absolute;
    width: 193px;
    height: 47.64px;
    top: 50.25px;
    left: 221px;
  }

  .head-Text-Wrap {
    position: absolute;
    width: 458px;
    height: 135px;
    top: 236px;
    left: 221px;

    .head-Text {
      font-size: 64px;
      font-weight: 500;
      font-family: $fontOne;
      color: #54575a;
      line-height: 67.5px;
    }

    .head-Text-P {
      font-size: 20px;
      font-weight: 400;
      font-family: $fontOne;
      color: #54575a;
      line-height: 32px;
    }
  }

  .buttons-Wrap {
    position: absolute;
    top: 600px;
    left: 221px;
  }
}
