@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Roboto", sans-serif;

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 1388px;
  background: linear-gradient(180deg, #fff 0%, #f3f8f7 49.91%, #fff9f5 94.19%);

  .head-Wrap {
    position: relative;
    width: 80%;
    height: 90%;

    .icon-Title-Wrap {
      position: absolute;
      width: 193px;
      height: 47.64px;
      top: 50.25px;
      left: 221px;
    }

    .head-Text-Wrap {
      position: absolute;
      width: 458px;
      height: 135px;
      top: 236px;
      left: 221px;

      .head-Text {
        font-size: 64px;
        font-weight: 500;
        font-family: $fontOne;
        color: #54575a;
        line-height: 67.5px;
      }

      .head-Text-P {
        font-size: 20px;
        font-weight: 400;
        font-family: $fontOne;
        color: #54575a;
        line-height: 32px;
      }
    }

    .buttons-Wrap {
      position: absolute;
      top: 600px;
      left: 221px;

      .apple-Img,
      .sam-Img {
        transition: all 150ms ease-in-out;
        cursor: pointer;
      }

      .apple-Img:hover {
        transform: scale(1.1);
        margin: 5px;
      }

      .apple-Img:active {
        transform: scale(0.9);
      }

      .sam-Img:hover {
        transform: scale(1.1);
        margin: 5px;
      }

      .sam-Img:active {
        transform: scale(0.9);
      }
    }

    .main-Img {
      position: absolute;
      width: 535.72px;
      height: 309.27px;
      top: 229.73px;
      left: 683.28px;
      padding: 0, 0, 0, 0;
    }
  }

  .profile-Image {
    position: absolute;
    top: 606px;
    right: 637px;
  }
}

@media screen and (max-width: 1800px) {
  .header {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    background:
      linear-gradient(
        180deg,
        #fff 0%,
        #f3f8f7 49.91%,
        #fff9f5 94.19%
      );

    .head-Wrap {
      position: relative;
      width: 80%;
      height: 90%;

      .icon-Title-Wrap {
        position: absolute;
        width: 193px;
        height: 117.64px;
        top: 15px;
        left: 2px;
      }

      .head-Text-Wrap {
        position: absolute;
        width: 290px;
        height: 235px;
        top: 25%;
        left: 2px;

        .head-Text {
          font-size: 20px;
          font-weight: 500;
          line-height: 67.5px;
        }

        .head-Text-P {
          font-size: 11px;
          max-width: 60%;
          line-height: 12px;
        }
      }

      .buttons-Wrap {
        position: absolute;
        top: 60%;
        left: 0;

        .apple-Img,
        .sam-Img {
          height: 20px;
          transition: all 150ms ease-in-out;
          cursor: pointer;
        }

        .apple-Img:hover {
          transform: scale(1.1);
          margin: 5px;
        }

        .apple-Img:active {
          transform: scale(0.9);
        }

        .sam-Img:hover {
          transform: scale(1.1);
          margin: 5px;
        }

        .sam-Img:active {
          transform: scale(0.9);
        }
      }

      .main-Img {
        position: absolute;
        width: 235.72px;
        height: 209.27px;
        top: 65%;
        left: 1.28px;
        padding: 0, 0, 0, 0;
      }
    }

    .profile-Image {
      position: absolute;
      top: 606px;
      right: 637px;
    }
  }

  .bottom-Images-Wrap {
    display: none;
  }
}
